# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables / secrets
.env
*.key

# Logs and temp files
*.log
*.tmp
